<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Admin | @ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/main.min.css" />
</head>
<body>
<div class="login-container">@RenderBody()</div>

<script src="~/bower/jquery/dist/jquery.min.js"></script>
<script src="~/bower/tinysort/dist/tinysort.min.js"></script>
<script src="~/bower/materialize/dist/js/materialize.min.js"></script>
<script src="~/js/common.min.js"></script>
</body>
</html>
