@{
	ViewData["Title"] = "Sportevenementen";
}


<div class="row">
	<div class="col s12 m5 l5 xl3 offset-l1 offset-xl2">
		<a class="btn btn-block btn-middle btn-icon z-depth-1"><i class="mdi mdi-24px mdi-plus-circle"></i><span>Toevoegen</span></a>
	</div>
	<div class="col s12 m7 l5 xl5">
		<div class="search-wrapper card">
			<input type="text" class="searchbar" />
			<i class="mdi mdi-24px mdi-magnify"></i>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12 l10 xl8 offset-l1 offset-xl2">
		<div class="card z-depth-1">
			<table class="bordered responsive-table">
				<thead>
					<tr>
						<th>Naam</th>
						<th>Datum</th>
						<th>Tijd</th>
						<th>Prijs</th>
						<th>Min. Deelnemers</th>
						<th>Max. Deelnemers</th>
					</tr>
				</thead>
				<tbody>
				<tr>
					<td>Basketbal Toernooi</td>
					<td>28 Augustus, 2017</td>
					<td>10:00 - 18:00</td>
					<td>€5,-</td>
					<td>8</td>
					<td>16</td>
				</tr>
				<tr>
					<td>Basketbal Toernooi</td>
					<td>28 Augustus, 2017</td>
					<td>10:00 - 18:00</td>
					<td>€5,-</td>
					<td>8</td>
					<td>16</td>
				</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
