@model SportUnite.UI.ViewModels.SportObjectModel

@{
    ViewData["Title"] = "Sport Object Toevoegen";
}



<div class="row">
    <div class="col s12 l10 xl8 offset-l1 offset-xl2">
        <div class="card-panel">
            <form asp-action="AddObject" method="post">
                <div class="row">
                    
                    <div class="input-field col s12">
                        <label>SportObject</label>
	                    <input asp-for="SportObject.Name"type="text"/>
                    </div>                 
                </div>
                <div class="row">
                    <div class="col s12">
                        <button asp-route-sportId="@Model.Sport.SportId" class="waves-effect btn col s12 m4 right" type="submit">Toevoegen</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
